apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: {{ vm_name }}
  namespace: {{ namespace }}
spec:
  running: true
  template:
    metadata:
      labels:
        kubevirt.io/domain: {{ vm_name }}
    spec:
      domain:
        cpu:
          cores: {{ vm_cpu_cores }}
        resources:
          requests:
            memory: {{ vm_memory }}
        devices:
          disks:
            - name: bootdisk
              disk:
                bus: virtio
            - name: cloudinitdisk
              disk:
                bus: virtio
      volumes:
        - name: bootdisk
          dataVolume:
            name: {{ vm_name }}-dv
        - name: cloudinitdisk
          cloudInitNoCloud:
            userData: |
              #cloud-config
              users:
                - name: admin
                  lock_passwd: false
                  passwd: $6$8gfyYcnZIDdN3Lx5$fRSWQORZJ2yG5FrWbjnTeu1QZsA2/Hzg4B3y9qel8GiDm9AVStoxHFq3qxZYv9BAPlQBMAgbRrM1YYL3JJiIN.
                  shell: /bin/bash
                  sudo: ['ALL=(ALL) NOPASSWD:ALL']
                  groups: [wheel]
              timezone: "Asia/Kolkata"
              lock_passwd: false
              ssh_pwauth: true
              runcmd:
                - chage -d 0 admin
                - hostnamectl set-hostname {{ hostname }}
  dataVolumeTemplates:
    - metadata:
        name: {{ vm_name }}-dv
      spec:
        source:
          http:
            url: {{ image_url }}
        storage:
          resources:
            requests:
              storage: {{ vm_disk_size }}
